body {
    background-color: rgb(255, 106, 243);
}

h1 {
    color: rgb(245, 4, 96);
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: rgb(234, 0, 255);
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
}

#l1 {
    color: rgb(190, 22, 22);
    font-family: verdana;
    font-style: italic;
}

#l2 {
    color: rgb(235, 111, 10);
    font-family: verdana;
    text-decoration: underline;
}