body {
    background-color: rgba(255, 106, 243, 0.651);
}

h1 {
    color: rgb(4, 245, 205);
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: rgb(238, 255, 0);
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
}

#l1 {
    color: rgb(190, 22, 22);
    font-family: verdana;
    font-style: italic;
}

#l2 {
    color: rgb(235, 111, 10);
    font-family: verdana;
    text-decoration: underline;
}